---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import Grid from '../components/Grid.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./travel/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			body {
				margin: 0 auto;
				max-width: 56em;
				padding: 1em 0;
				}
		</style>
	</head>
	<body class="body">
		<Header />
		<main >
			<section>
				<Grid posts={posts}/>
			</section>
		</main>
		<Footer />
	</body>
</html>
